@media screen and (min-width: 1080px) {
    .container {

        margin-left: 100px;
        margin-right: 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        /*grid-template-areas:*/
        /*    "testimonial testimonial testimonial"*/
        /*    "testimonial testimonial";*/

        gap: 20px 20px;

    }

    .daniel {
        background-image: url("images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 80% 5%;
}


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



body {
    background-color: grey;
}

.container > div {
    display: flex;
    flex-flow: column;

    padding: 1em;
    border-radius: 12px;
}

/*.profile-title {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    align-content: center;*/
/*    */


/*}*/
/*.container > div:nth-child(odd){*/
/*    background: grey;*/
/*}*/


/*p {*/
/*    color: white;*/
/*    font-size: 1em;*/
/*}*/

/*.container > div:nth-child(5) {*/
/*    color: grey;*/
/*}*/

p:nth-child(2) {
    font-size: 1.5em;
}

p:nth-child(3) {
    display: flex;

    justify-content: flex-end;
}



img {
    float: left;
    border-radius: 50%;
    border: grey solid;
    display: inline-block;
    padding: 2px;
    margin: 5px;
}

h1 {

    display: flex;
    align-items: center;
    vertical-align: center;
    font-size: 1em;
    align-items: center;
    margin: 0;

}



/*.container {*/

/*    margin-left: 100px;*/
/*    margin-right: 100px;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(4, 1fr);*/
/*    grid-template-rows: repeat(2, auto);*/
/*    !*grid-template-areas:*!*/
/*    !*    "testimonial testimonial testimonial"*!*/
/*    !*    "testimonial testimonial";*!*/

/*    gap: 20px 20px;*/

/*}*/



.daniel {
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 80% 5%;
    background-size: 25%;
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;

}

.jonathan {
    background-color: cadetblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.jeanette {
    background-color: whitesmoke;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.patrick {
    color: white;
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.kira {
    color: black;
    background-color: whitesmoke;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}